.article-item
{
    background-color: white;
    width: 85%;
    margin: 0 3%;
    border-radius: 3%;
    -webkit-box-shadow: -2px 6px 35px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 6px 35px -12px rgba(0,0,0,0.75);
    box-shadow: -2px 6px 35px -12px rgba(0,0,0,0.75);
}
.article-item h4
{
    padding: 20px;
}
.article-item p
{
    text-align: justify;
    padding: 30px 30px 45px 30px;
}
.article-item img
{
    border-top-right-radius: 3%;
    border-top-left-radius: 3%;
    object-fit: contain;
    width: 100%;
}